body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-libre-caslon-text: "Libre Caslon Text";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-darkslategray: #052e27;
  --color-gray: #031c18;
  --color-wheat: #e9d9ae;

  /* Gaps */
  --gap-3xl: 22px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-3xl: 22px;
  --padding-lg: 18px;
  --padding-xl: 20px;
  --padding-lgi: 19px;

  /* Border radiuses */
  --br-19xl-5: 38.5px;
}
