.desktop-3-child {
  width: 15px;
  height: 15px;
  position: absolute;
  margin: 0 !important;
  top: 114px;
  left: 101px;
  border-radius: 50%;
  background-color: var(--color-wheat);
  flex-shrink: 0;
  z-index: 1;
}
.logo-1-icon {
  height: 77px;
  width: 92px;
  position: relative;
  border-radius: var(--br-19xl-5);
  object-fit: cover;
}
.handsign {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.handsign-wrapper,
.logo-1-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.handsign-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
}
.logo-1-parent {
  width: 323px;
  flex-direction: row;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13px;
  background-color: var(--color-darkslategray);
  width: 90px;
  height: 37px;
  cursor: pointer;
}
.home {
  text-decoration: none;
  position: absolute;
  top: 6px;
  left: 10px;
  color: inherit;
  display: inline-block;
  width: 81px;
  height: 30px;
  min-width: 81px;
  z-index: 1;
}
.rectangle-parent {
  height: 37px;
  width: 97px;
  position: relative;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 27px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 82px;
}
.about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 3px;
}
.frame-item {
  width: 79px;
  height: 2px;
  position: relative;
  background-color: #d9d9d9;
}
.frame-div,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  gap: 3px;
}
.frame-div {
  padding: 5px 0 0;
}
.learn {
  text-decoration: none;
  align-self: stretch;
  position: relative;
  color: inherit;
  cursor: pointer;
}
.learn-wrapper {
  width: 82px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 4px 0 0;
  box-sizing: border-box;
}
.frame-container,
.frame-wrapper,
.learn-wrapper {
  display: flex;
  align-items: flex-start;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  width: 344px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.frame-group,
.logo-container-inner {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.logo-container-inner {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 34px 0 0;
  box-sizing: border-box;
}
.frame-inner {
  align-self: stretch;
  height: 3px;
  position: relative;
  background-color: var(--color-wheat);
}
.rectangle-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.ellipse-div {
  height: 15px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-wheat);
}
.frame-parent2 {
  width: 1227px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.logo-container,
.logo-container-wrapper {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.logo-container {
  width: 1306px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: 15px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
.logo-container-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 38px;
}
.about-us1 {
  margin: 0;
  width: 306px;
  position: relative;
  font-size: 50px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.about-us {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 119px;
}
.image-6-icon {
  margin-left: -343px;
  height: 463px;
  width: 305px;
  object-fit: contain;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.a-vision-of,
.image-6-icon {
  padding-left: 20px;
  font-size: 20px;
  position: relative;
}
.blank-line,
.blank-line1,
.blank-line2,
.imagine-a-world,
.join-us-on,
.our-innovative-system,
.we-are-passionate,
.we-believe-this {
  display: block;
}
.we-are-passionate-container {
  font-size: 20px;

  margin: 0;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.a-vision-of-fostering-a-more-i-parent,
.we-are-passionate-about-creati-wrapper {
  font-size: 20px;
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.we-are-passionate-about-creati-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-lgi) 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
}
.a-vision-of-fostering-a-more-i-parent {
  flex-direction: column;
  gap: 74px;
  flex-shrink: 0;
  debug_commit: bf4bc93;
}
.frame-parent,
.frame-wrapper1,
.image-6-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper1 {
  width: 893px;
  flex-direction: column;
  padding: 7px 0 0;
  min-width: 893px;
  flex-shrink: 0;
}
.frame-parent,
.image-6-parent {
  text-align: left;
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
.image-6-parent {
  align-self: stretch;
  flex-direction: row;
  padding: 0 175px 0 273px;
  gap: 38px;
  font-size: 32px;
}
.frame-parent {
  width: 1361px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xl);
  font-size: 64px;
}
.rectangle-div {
  width: 1440px;
  height: 276px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  max-width: 100%;
}
.handsign1,
.logo-2-icon {
  position: relative;
  z-index: 1;
}
.logo-2-icon {
  height: 77px;
  width: 92px;
  border-radius: var(--br-19xl-5);
  object-fit: cover;
}
.handsign1 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.handsign-container,
.logo-2-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.handsign-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
}
.logo-2-parent {
  width: 309px;
  flex-direction: row;
  gap: var(--gap-xl);
}
.contact-17777777,
.email-12220066gcitrubedu {
  display: block;
}
.email-12220066gcitrubedu-container {
  margin: 0;
  width: 294px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.chamjekha-thimphu-bhutan,
.gyelpozing-college-of {
  display: block;
}
.gyelpozing-college-of-container {
  margin: 0;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 286px;
  max-width: 100%;
  z-index: 1;
}
.email-12220066gcitrubedu-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 54px;
}
.email-12220066gcitrubedu-parent,
.frame-parent3,
.frame-wrapper2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper2 {
  width: 818px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.copyright-inner,
.frame-child1 {
  background-color: var(--color-wheat);
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.copyright-inner {
  align-self: stretch;
  height: 1.6px;
}
.copyright-handspeak-2024,
.copyright-inner {
  position: relative;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  z-index: 1;
}
.copyright-handspeak-2024-all-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 26px;
  flex-shrink: 0;
}
.copyright,
.copyright-wrapper,
.desktop-3,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.copyright {
  flex: 1;
  flex-direction: column;
  gap: 28.4px;
  max-width: 100%;
}
.copyright-wrapper,
.desktop-3,
.rectangle-group {
  box-sizing: border-box;
}
.copyright-wrapper {
  width: 1292px;
  flex-direction: row;
  padding: 0 40px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
.desktop-3,
.rectangle-group {
  flex-direction: column;
}
.rectangle-group {
  margin-left: -1px;
  align-self: stretch;
  background-color: var(--color-gray);
  padding: 77px var(--padding-lg) var(--padding-3xl) 73px;
  gap: 50px;
  max-width: 100%;
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray);
  overflow-y: auto;
  padding: var(--padding-3xl) 0 0;
  gap: 90px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
@media screen and (max-width: 1400px) {
  .image-6-icon {
    flex: 1;
  }
  .frame-wrapper1 {
    flex: 1;
    min-width: 100%;
  }
  .image-6-parent {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 136px;
    padding-right: 87px;
    box-sizing: border-box;
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .a-vision-of-fostering-a-more-i-parent {
    gap: 37px;
  }
}
@media screen and (max-width: 825px) {
  .about-us1 {
    font-size: 51px;
  }
  .a-vision-of {
    font-size: 26px;
  }
  .image-6-parent {
    gap: 19px;
    padding-left: 68px;
    padding-right: 43px;
    box-sizing: border-box;
  }
  .handsign1 {
    font-size: 29px;
  }
  .email-12220066gcitrubedu-parent {
    flex-wrap: wrap;
  }
  .rectangle-group {
    gap: 25px;
    padding-left: 36px;
    box-sizing: border-box;
  }
  .desktop-3 {
    gap: 45px;
  }
}
@media screen and (max-width: 450px) {
  .about-us1 {
    font-size: 38px;
  }
  .about-us {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .a-vision-of,
  .we-are-passionate-container {
    font-size: var(--font-size-lgi);
  }
  .a-vision-of-fostering-a-more-i-parent {
    gap: 18px;
  }
  .image-6-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .handsign1 {
    font-size: 22px;
  }
  .email-12220066gcitrubedu-parent {
    gap: 27px;
  }
  .desktop-3 {
    gap: var(--gap-3xl);
  }
}
