body {
  margin: 0;
  line-height: normal;
  margin-right: -20px;
}

:root {
  /* fonts */
  --font-libre-caslon-text: "Libre Caslon Text";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-17xl: 36px;
  --font-size-10xl: 29px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-darkslategray-100: #323744;
  --color-darkslategray-200: #052e27;
  --color-gray: #031c18;
  --color-wheat: #e9d9ae;
  --color-black: #000;
  --color-goldenrod: #ffcf4f;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-base: 16px;

  /* Paddings */
  --padding-3xl: 22px;
  --padding-lg: 18px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-lgi: 19px;
  --padding-25xl: 44px;
  --padding-8xs: 5px;
  --padding-18xl: 37px;
  --padding-10xl: 29px;
  --padding-9xl: 28px;
  --padding-37xl: 56px;

  /* Border radiuses */
  --br-19xl-5: 38.5px;
  --br-lgi: 19px;
  --br-46xl: 65px;
  --br-smi: 13px;
}
