

.desktop-1-child,
.image-4-icon {
  width: 199.6px;
  height: 101.2px;
  position: absolute;
  margin: 0 !important;
  right: 597.4px;
  bottom: 163.8px;
  flex-shrink: 0;
  object-fit: contain;
}
.image-4-icon {
  width: 177.7px;
  height: 199.4px;
  right: 349.3px;
  bottom: 142.8px;
}
.logo-1-icon {
  height: 77px;
  width: 92px;
  position: relative;
  border-radius: var(--br-19xl-5);
  object-fit: cover;
}
.handsign {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.handsign-wrapper,
.logo-1-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.handsign-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
}
.logo-1-parent {
  width: 309px;
  flex-direction: row;
  gap: var(--gap-xl);
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.home {
  color: inherit;
  text-decoration: none;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 81px;
  z-index: 1;
}
.home-wrapper {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
}
.frame-item {
  width: 79px;
  height: 2px;
  position: relative;
  background-color: #d9d9d9;
  z-index: 1;
}
.frame-div {
  position: absolute;
  top: 6px;
  left: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}
.rectangle-parent {
  align-self: stretch;
  height: 37px;
  position: relative;
}
.g-c-i-t-banner {
  width: 104px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 13px 4px 0;
  box-sizing: border-box;
}
.frame-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.about {
  color: inherit;
  text-decoration: none;
  position: absolute;
  top: 2px;
  left: 9px;
  display: inline-block;
  width: 76px;
  height: 30px;
  min-width: 76px;
  z-index: 1;
}
.rectangle-group {
  height: 37px;
  width: 90px;
  position: relative;
}
.learn{  
  position: absolute;
  top: 0;
  text-decoration: none;
}
.rectangle-div {
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-darkslategray-200);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.learn {
  color: inherit;
  text-decoration: none;
  left: 8px;
  line-height: 21px;
  display: inline-block;
  width: 82px;
  height: 21px;
  z-index: 1;
}
.rectangle-container {
  height: 37px;
  width: 90px;
  position: relative;
}
.g-c-i-t-banner-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 33px;
}
.frame-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 14px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-group {
  flex: 1;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 27px 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
.image-2-icon {
  height: 221.8px;
  width: 204.9px;
  position: absolute;
  margin: 0 !important;
  right: -15.9px;
  bottom: -62.8px;
  object-fit: contain;
}
.group-icon {
  align-self: stretch;
  height: 15px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.email-contact-logo-child {
  height: 101.2px;
  width: 199.6px;
  position: absolute;
  margin: 0 !important;
  right: 12.4px;
  bottom: -14.2px;
  object-fit: contain;
}
.blank-line,
.empowering-inclusion1 {
  margin: 0;
}
.empowering-inclusion {
  margin: 0;
  height: 64px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.empowering-inclusion-wrapper {
  display: flex;
  padding-left: 80px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-language-made {
  margin: 0;
  padding-left: 70px;
  align-self: stretch;
  position: relative;
  font-size: 48px;
  font-weight: 400;
  font-family: inherit;
}
.frame-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
  max-width: 100%;
}
.image-1-icon {
  height: 226px;
  width: 239.1px;
  position: absolute;
  margin: 0 !important;
  bottom: -79px;
  left: -221px;
  object-fit: contain;
}
.vector-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-wrapper {
  height: 165px;
  width: 140.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 36.4px;
  box-sizing: border-box;
  min-width: 140.80000000000018px;
}
.email-contact-instance {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-goldenrod);
}

#video {
  border: 1px solid orange;
  width: 500px;
  height: 600px;
}
#prediction {
  padding-left: 30px;
  font-size: 30px;
  color: white;
}

#startButton, #stopButton {
  border-radius: 30px;
  padding-right: 50px;
  background-color: rgb(255, 207, 79);
  font-size: 20px;
  font-family: var(--font-libre-caslon-text);
  padding: 30px;
  width: 200px;
  height: 50px;
  position: relative;
}


.startButton,
.stopButton {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-libre-caslon-text);
  color: var(--color-black);
  text-align: center; /* Align text to the center */
  z-index: 1;
  width: 200px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  cursor: pointer; /* Add pointer cursor */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}



.get-started {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-libre-caslon-text);
  color: var(--color-black);
  text-align: left;
  z-index: 1;
}
.email-contact-instance-parent {
  
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xl) var(--padding-25xl) var(--padding-lgi);
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  white-space: nowrap;
}
.frame-parent4 {
  width: 452px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-parent2,
.frame-wrapper1,
.image-1-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-wrapper1 {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}
.frame-parent2,
.image-1-parent {
  justify-content: flex-start;
}
.image-1-parent {
  width: 493px;
  flex-direction: row;
  position: relative;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
  gap: 47px;
}
.email-contact-logo,
.email-contact-logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.email-contact-logo {
  width: 755px;
  justify-content: flex-start;
  position: relative;
}
.email-contact-logo-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent1,
.image-2-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  flex: 1;
  flex-direction: column;
  gap: 64px;
}
.image-2-parent {
  width: 1227px;
  flex-direction: row;
  position: relative;
}
.desktop-1-inner,
.frame-parent {
  display: flex;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-parent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 15px;
}
.desktop-1-inner {
  width: 1353px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-18xl);
  box-sizing: border-box;
}
.image-3-icon {
  height: 243.4px;
  width: 229.6px;
  position: absolute;
  margin: 0 !important;
  top: -237px;
  left: 131px;
  object-fit: contain;
}
.frame-child1 {
  height: 128px;
  width: 983px;
  position: relative;
  box-shadow: 0 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-46xl) var(--br-46xl) 0 0;
  background-color: var(--color-darkslategray-100);
  display: none;
  max-width: 100%;
}
.real-time-translation {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.real-time-translation-wrapper {
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.communicate-naturally-and {
  width: 241px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.learn-with-ease {
  align-self: stretch;
  position: relative;
  z-index: 2;
}
.learn-with-ease-wrapper {
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.image-3-parent,
.rectangle-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent1 {
  flex: 1;
  box-shadow: 0 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-46xl) var(--br-46xl) 0 0;
  background-color: var(--color-darkslategray-100);
  justify-content: space-between;
  padding: 35px 112px var(--padding-10xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
}
.image-3-parent {
  width: 983px;
  justify-content: flex-start;
  position: relative;
}
.frame-child2,
.frame-wrapper2 {
  align-self: stretch;
  max-width: 100%;
}
.frame-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-child2 {
  height: 15px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent5,
.frame-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-21xl);
  flex-shrink: 0;
}
.frame-section {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-18xl) 0 38px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
.banner-1-icon,
.frame-child3 {
  position: relative;
  max-width: 100%;
}
.frame-child3 {
  height: 368px;
  width: 652px;
  background-color: var(--color-goldenrod);
  display: none;
}
.banner-1-icon {
  height: 334px;
  flex: 1;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent2 {
  flex: 1;
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 17px 16px;
  box-sizing: border-box;
  min-width: 424px;
  max-width: 100%;
}
.blank-line1,
.far-from-merely {
  margin: 0;
}
.become-a-part {
  margin: 0;
  white-space: pre-wrap;
}
.far-from-merely-container {
  align-self: stretch;
  position: relative;
}
.far-from-merely-a-series-of-ge-wrapper {
  width: 601px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 106px 0 0;
  box-sizing: border-box;
  min-width: 601px;
  max-width: 100%;
}

.experience-real-time{
  padding-left: 180px;
}

.experience-real-time,
.frame-parent6 {
  flex-shrink: 0;
  max-width: 100%;
}
.frame-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 49px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
.experience-real-time {

  margin: 0;
  width: 938px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.experience-real-time-sign-lang-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-child4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  margin-left: 100px;
  width: 700px;
  border: 12px solid var(--color-goldenrod);
}

#video {
  display: block;
  width: 100%;
  height: 500px;
  margin: 0; /* Centers the video and adds margin below */
  border: 1px solid #ccc; /* Optional: adds a border around the video */
}

.frame-child4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Adjust the size and alignment of the container */
.instance-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.rectangle-parent4 {
  width: 100%;
  padding-right: 40px;
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

}


.instance-child {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-lgi);
  background-color: var(--color-goldenrod);
}

.get-started1:hover {
  cursor: pointer;
}

.get-started1 {
  font-size: var(--font-size-5xl);
  font-family: var(--font-libre-caslon-text);
  font-weight: bold;
  color: var(--color-black);
  z-index: 1;
  border: none;
  flex: 1;
  position: relative;
  z-index: 1;
  background-color: var(--color-goldenrod);
}
.instance-wrapper,
.rectangle-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangle-parent4 {
  width: 231px;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-25xl) var(--padding-lgi);
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
}
.instance-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 23px;
  font-family: var(--font-libre-caslon-text);

}
.rectangle-parent3 {
  align-self: stretch;
  width: 902px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 38px;
  flex-shrink: 0;
  max-width: 100%;
}
.frame-main,
.frame-wrapper3 {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-family: var(--font-libre-caslon-text);
}
.frame-wrapper3 {
  align-self: stretch;
  height: 634px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.frame-main {
  width: 1322px;
  height: 1138px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 1137px var(--padding-xl);
  gap: 60px;
  font-size: 40px;
  color: var(--color-wheat);
}
.frame-child5 {
  width: 1440px;
  height: 276px;
  position: relative;
  background-color: var(--color-gray);
  display: none;
  max-width: 100%;
}
.handsign1,
.logo-2-icon {
  position: relative;
  z-index: 1;
}
.logo-2-icon {
  height: 77px;
  width: 92px;
  border-radius: var(--br-19xl-5);
  object-fit: cover;
}
.handsign1 {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.handsign-container,
.logo-2-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.handsign-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
  min-width: 128px;
}
.logo-2-parent {
  flex: 0.6478;
  flex-direction: row;
  padding: 0 168px 0 0;
  gap: var(--gap-xl);
  min-width: 310px;
  max-width: 100%;
  font-size: var(--font-size-17xl);
}
.contact-17777777,
.email-12220066gcitrubedu {
  margin: 0;
}
.email-12220066gcitrubedu-container {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.email-12220066gcitrubedu-wrapper {
  width: 294px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.chamjekha-thimphu-bhutan,
.gyelpozing-college-of {
  margin: 0;
}
.gyelpozing-college-of-container {
  align-self: stretch;
  height: 39px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-footer,
.gyelpozing-college-of-informat-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.gyelpozing-college-of-informat-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  min-width: 305px;
}
.frame-footer {
  align-self: stretch;
  flex-direction: row;
  gap: 54px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
.frame-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-wheat);
  width: 100%;
  height: 100%;
  display: none;
}
.copyright-handspeak-2024,
.rectangle-wrapper {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.rectangle-wrapper {
  align-self: stretch;
  height: 1.6px;
  background-color: var(--color-wheat);
}
.copyright-handspeak-2024 {
  height: 20px;
  width: 416px;
  display: inline-block;
  max-width: 100%;
}
.copyright-handspeak-2024-all-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 26px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-parent7,
.frame-wrapper4,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent7 {
  flex: 1;
  flex-direction: column;
  gap: 28.4px;
  max-width: 100%;
}
.frame-wrapper4,
.group-div {
  box-sizing: border-box;
}
.frame-wrapper4 {
  width: 1292px;
  flex-direction: row;
  padding: 0 40px;
  max-width: 100%;
}
.group-div {
  margin-right: -70px;
  width: 1440px;
  background-color: var(--color-gray);
  flex-direction: column;
  padding: 77px var(--padding-lg) var(--padding-3xl) 73px;
  gap: 50px;
  flex-shrink: 0;
  max-width: 106%;
  font-size: var(--font-size-base);
}
.desktop-1-item {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 5;
}
.desktop-1 {
  width: 100%;
  height: 1024px;
  position: relative;
  background-color: #062e27;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-3xl) 69px 0 1px;
  box-sizing: border-box;
  gap: 322px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 64px;
  color: var(--color-wheat);
  font-family: var(--font-libre-caslon-text);
}
@media screen and (max-width: 1200px) {
  .far-from-merely-a-series-of-ge-wrapper {
    flex: 1;
  }
  .frame-parent6 {
    flex-wrap: wrap;
  }
  .frame-main {
    padding-bottom: 739px;
    box-sizing: border-box;
  }
  .gyelpozing-college-of-informat-wrapper,
  .logo-2-parent {
    flex: 1;
  }
  .frame-footer {
    flex-wrap: wrap;
  }
  .desktop-1 {
    gap: 161px;
    padding-right: 34px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .rectangle-parent1 {
    flex-wrap: wrap;
    padding-left: var(--padding-37xl);
    padding-right: var(--padding-37xl);
    box-sizing: border-box;
  }
  .frame-main {
    height: auto;
    padding-bottom: 480px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .g-c-i-t-banner-parent {
    display: none;
  }
  .frame-container {
    width: 0;
  }
  .empowering-inclusion {
    font-size: 51px;
  }
  .sign-language-made {
    font-size: var(--font-size-19xl);
  }
  .frame-parent3 {
    gap: 21px;
  }
  .vector-icon {
    align-self: stretch;
    width: auto;
  }
  .vector-wrapper {
    flex: 1;
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .frame-parent2 {
    gap: 23px;
  }
  .frame-parent1 {
    gap: 32px;
  }
  .rectangle-parent1 {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-9xl);
    box-sizing: border-box;
  }
  .frame-parent5 {
    gap: var(--gap-xl);
  }
  .far-from-merely-a-series-of-ge-wrapper,
  .rectangle-parent2 {
    min-width: 100%;
  }
  .frame-parent6 {
    gap: 24px;
  }
  .experience-real-time {
    font-size: 32px;
  }
  .frame-main {
    gap: 30px;
    padding-bottom: 312px;
    box-sizing: border-box;
  }
  .handsign1 {
    font-size: var(--font-size-10xl);
  }
  .logo-2-parent {
    flex-wrap: wrap;
    padding-right: 84px;
    box-sizing: border-box;
  }
  .frame-footer {
    gap: 27px;
  }
  .group-div {
    gap: 25px;
    padding-left: 36px;
    box-sizing: border-box;
  }
  .desktop-1 {
    height: auto;
    gap: 80px;
  }
}
@media screen and (max-width: 450px) {
  .g-c-i-t-banner-parent {
    gap: var(--gap-base);
  }
  .empowering-inclusion {
    font-size: var(--font-size-19xl);
  }
  .sign-language-made {
    font-size: var(--font-size-10xl);
  }
  .frame-parent1 {
    gap: var(--gap-base);
  }
  .communicate-naturally-and,
  .far-from-merely-container,
  .learn-with-ease,
  .real-time-translation {
    font-size: var(--font-size-lgi);
  }
  .experience-real-time {
    font-size: var(--font-size-5xl);
  }
  .rectangle-parent3 {
    gap: 19px;
  }
  .handsign1 {
    font-size: 22px;
  }
  .desktop-1 {
    gap: var(--gap-21xl);
  }
}
